* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
}

.circle {
  width: 40px;
  height: 40px;
}

.section-nav .btn-group button:hover {
  background-color: #dc3545;
  color: #fff;
}

.overlay {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
}

.overlay-hover:hover .overlay {
  cursor: pointer;
  opacity: 1;
}

.video {
  background-image: url('../images/tour.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video-negative-margin {
  margin-bottom: -5rem;
}
