* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 2rem 0;
}

section.hero {
  padding-top: 0;
}

#hero {
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
}
